mixin software()
  .software
    .container
      .software-card
        .software-card__inner
          span.software-card__tag Тег карточки
          h2.software-card__heading Заголовок

        p.software-card__description Описание карточки с программным обеспечением
        a.software-card__btn.btn(href="#")
          +icon("htmlacademy", 43, 43)
          span.btn__text Подробнее
